# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = Nick Buonincontri
	email = nbuonin@gmail.com
	editor = /usr/local/bin/vim
	excludesfile = /Users/nickb/.gitignore_global
[user]
	name = Nick Buonincontri
	email = nbuonin@gmail.com
[alias]
	lg = log --oneline --decorate --graph --all
	s = status -s
	d = difftool
    a = add .
    ca = commit -a
# deletes branches that have been merged
    cb = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
    po = "!f() { git push origin `git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \\(.*\\)/\\1/'`; }; f" 
    pom = "!f() { git checkout master && git pull origin master; }; f"
[pull]
	rebase = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
